body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
    border-radius: 8px;
}

.intro {
    font-style: italic;
    text-align: center;
}

h1 {
    color: #64a7f3;
}

.closing {
    margin-top: 20px;
}

.signature {
    margin-top: 30px;
    text-align: right;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
